---
layout: page
title: "About"
description: "Curiosity makes you smarter."
header-img: "img/post-bg-unix-linux.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0"> 中文 Chinese </option>
    <option value="1" selected> English 英文 </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->

    <p>欢迎来到这里，我是<strong>王禹龍</strong>，一名博士研究生，现居东京。</p>

    <p>研究兴趣关注于沿岸可持续问题，特别是沿岸环境与生态系统问题。</p>

    <p>东京湾早在1979年开始实施污染物负荷总量控制系统（TPLCS），此后水质有了整体的改善。然而，水体溶解氧含量低的问题仍未得到缓解，并且鱼类捕捞量持续下降。在此背景下，我的研究问题涉及对TPLCS的改进，利益相关者的接受度调查和技术可行性评估。</p>

    <h5>博士研究生，助教</h5>
    <ul>
        <li>可持续科学-全球领导人培养项目</li>
        <li>东京大学</li>
        <!-- <li>2017- </li>-->
    </ul>
    <h5>工学硕士</h5>
    <ul>
        <li>海洋系统工学</li>
        <li>东京海洋大学</li>
        <!-- <li>2015-2017</li> -->
    </ul>
    <!--
    <h5>工学硕士</h5>
    <ul>
        <li>港口海岸及近海工程</li>
        <li>大连海洋大学</li>
        <!-- <li>2014-2017</li> -->
    </ul>

    <h5>助理工程师</h5>
    <ul>
        <li>渔港规划与设计</li>
        <li>大连水产规划设计研究院</li>
        <!-- <li>2012-2015</li> -->
    </ul>
    
    <h5>荣誉</h5>
    <ul>
        <li>评选最佳海报: 可持续科学领域杰出贡献奖</li>
            <a href="https://imgchr.com/i/ipJpef"><img src="https://s1.ax1x.com/2018/09/05/ipJpef.md.jpg" alt="Poster_Award.jpg" border="0" /></a>
            东京大学, 2018
    </ul>
    
    <h5>作品</h5>
    <ul>
        <h6>2019</h6>
            <li>[论文&发表] Hongxia Gao, Yulong Wang, Shuchuang Dong, Kitazawa Daisuke. (2019). Sustainability assessment based on the Aquaculture Intensity Index (AII) approach: a case study in Oita prefecture, Japan. Conference: The 9th East Asian Workshop for Marine Environment and Energy (EAWOMEN2 2019)At: Osaka, Japan. </li>
            <li>[章节] Giles B. Sioen, Yulong WANG, Maya F. Dhondt, Kazuo Hiekata, Motoharu Onuki, Takashi Mino. (2019). An SVN model-based approach to assessing the gap between strategy and implementation: The case of Kashiwa-no-ha Smart City. In book: Characterizing the Gap Between Strategy and ImplementationChapter: 4Publisher: Project Management Institute. </li>
            <li>[海报] Yulong WANG. (2019). Study on the water pollution purification capacity of bivalve habitats in Tokyo Bay its influences to sustainable coast renaissance policy.</li>
        <h6>2018</h6>
            <li>[海报] Yulong WANG. (2018). Modeling of general bivalves (Ruditapes philippinarum and Mercenaria mercenaria) and its applications in coastal area: A case study in Tokyo Bay.</li>
            <li>[发表] Maya F. Dhondt, Yulong Wang, Giles B. Sioen, Aigerim Shopenova, Motoharu Onuki, Takashi Mino. (2018). An SVN model-based practice on socio-technical issues: the case of Kashiwa-no-ha Smart City. SDM Symposium 2018 Characterizing The Gap Between Strategy and Implementation.</li>
            <li>[发表] Maya DHONDT, Yulong WANG, Aigerim SHOPENOVA, Erick AVELINO, Ritao LYU, Ye SUN, Dr. Giles B. SIOEN. (2018). A Framing Approach Put into Practice: Reflections from GFE Kashiwa-no-ha. The 6th GPSS-GLI International Symposium “Framing to Action: Bringing Sustainability Thinking into Practice”.</li>
            <li>[海报] Yulong WANG. (2018). Interaction between coastal water quality and livelihood in the context of urbanization: A case study in Northern Liaodong Bay. Progress Review of GPSS-GLI. (Poster Award: For a very significant contridution in the field of sustainability scicence.)</li>
            <li>[海报] Eric DOMPREH, Kevin FLORENTIN, Robert ALFOSI, Vinamra MATHUR, Yulong WANG. (2018). Pathways through sustainability: An Analysis of Exclusivity, Culture and Awareness in Smart City. The 6th GPSS-GLI International Symposium “Framing to Action: Bringing Sustainability Thinking into Practice”.</li>
        <h6>2017</h6>
            <li>[论文] 王禹龍. "没水傾斜板による波浪制御に関する研究." 東京海洋大学修士学位論文. 2017.</li>
            <li>[论文] Yulong WANG, Zichang SHANGGUAN, Wenjian DONG, Long QI. (2017). Wave Controlling Performance Analysis of Submerged Inclined Plate Breakwater. The Ocean Engineering, 35(6), 55-61. (Peer reviewed)</li>
            <li>[论文] Dong, W. J., Shangguan, Z. C., Wang, Y. L., & Liu, D. N. (2017). Experimental Study on Wave Dissipation Coefficient for Semi-Submersible Permeable Tetrahedron. In Applied Mechanics and Materials (Vol. 864, pp. 357-362). Trans Tech Publications.</li>
        <h6>2016</h6>
            <li>[论文] Yulong WANG, Zichang SHANGGUAN, Wenjian DONG, Qing QI. (2016). Structural Reliability of Fishing Chains at a Single Anchor in Fishing Port under Typhoon Calamity. Journal of Dalian Ocean University, 31(6), 692-695.(Peer reviewed)</li>
            <li>[论文] Yulong WANG, Zichang SHANGGUAN, Wenjian DONG, Bin YU. (2016). Comparison Study onSeawall Structure based on Multilevel Fuzzy Comprehensive Evaluation. Journal of Dalian University, 37(3), 30-34.(Peer reviewed)</li>
        <h6>2015</h6>
            <li>[论文] Yu T., Shangguan Z., Wang Y., Shen L. Liu Y., Zhang J.. (2015)."Study on the wave dissipation properties of the no bottom semi-circular wave dissipation block." 4th ICSMIM: 1020-1025.</li>
    </ul>
</div>

<!-- English Version -->
<div class="en post-container">

    <p>Welcome to my page, I am <strong>Yulong WANG</strong>，a PhD student who is currently living in Tokyo.</p>

    <p>My research interest focuses on coastal sustainability issues, specifically, focuses on the coastal environment and ecosystem.</p>
    
    <p>Although the total pollutant load control system (TPLCS) of Tokyo Bay had been implemented since 1979, leading to overall improvement of water quality, the hypoxia and anoxia have not been mitigated, and the fish catch still declined continuously. The current research question I am tackling is related to the improvement of the TPLCS, stakeholders' acceptance investigation and environmental feasibility evaluation.</p>

    <h5>Ph.D. Candidate, Teaching Assistant</h5>
    <ul>
        <li>The Graduate Program in Sustainability Science Global Leadership Initiative</li>
        <li>The University of Tokyo</li>
        <!--<li>2017 ~ </li>-->
    </ul>
    <h5>Master of Engineering (M.Eng.)</h5>
    <ul>
        <li>Marine System Engineering</li>
        <li>Tokyo University of Marine Science and Technology</li>
        <!-- <li>2015 ~ 2017</li> -->
    </ul>
    <!--
    <h5>Master of Engineering (M.Eng.)</h5>
    <ul>
        <li>Port & Coastal Engineering</li>
        <li>Dalian Ocean University</li>
        <!-- <li>2014 ~ 2017</li> -->
    </ul>

    <h5>Assistant Engineer</h5>
    <ul>
        <li>Fishing Port Planning and Design Department</li>
        <li>Dalian Fisheries Planning and Design Institute</li>
        <!-- <li>2012 ~ 2015</li> -->
    </ul>

    <h5>Award</h5>
    <ul>
        <li>Poster Award: For a very significant contribution in the field of sustainability science</li>
            <a href="https://imgchr.com/i/ipJpef"><img src="https://s1.ax1x.com/2018/09/05/ipJpef.md.jpg" alt="Poster_Award.jpg" border="0" /></a>
            University of Tokyo, 2018
    </ul>
    
    <h5>Work</h5>
    <ul>
        <h6>2019</h6>
            <li>[Paper&Presentation] Hongxia Gao, Yulong Wang, Shuchuang Dong, Kitazawa Daisuke. (2019). Sustainability assessment based on the Aquaculture Intensity Index (AII) approach: a case study in Oita prefecture, Japan. Conference: The 9th East Asian Workshop for Marine Environment and Energy (EAWOMEN2 2019)At: Osaka, Japan. </li>
            <li>[Chapter] Giles B. Sioen, Yulong Wang, Maya F. Dhondt, Kazuo Hiekata, Motoharu Onuki, Takashi Mino. (2019). An SVN model-based approach to assessing the gap between strategy and implementation: The case of Kashiwa-no-ha Smart City. In book: Characterizing the Gap Between Strategy and ImplementationChapter: 4Publisher: Project Management Institute. </li>
            <li>[Poster] Yulong WANG. (2019). Study on the water pollution purification capacity of bivalve habitats in Tokyo Bay its influences to sustainable coast renaissance policy.</li>
        <h6>2018</h6>
            <li>[Poster] Yulong WANG. (2018). Modeling of general bivalves (Ruditapes philippinarum and Mercenaria mercenaria) and its applications in coastal area: A case study in Tokyo Bay.</li>
            <li>[Presentation] Maya F. Dhondt, Yulong Wang, Giles B. Sioen, Aigerim Shopenova, Motoharu Onuki, Takashi Mino. (2018). An SVN model-based practice on socio-technical issues: the case of Kashiwa-no-ha Smart City. SDM Symposium 2018 Characterizing The Gap Between Strategy and Implementation.</li>
            <li>[Presentation] Maya DHONDT, Yulong WANG, Aigerim SHOPENOVA, Erick AVELINO, Ritao LYU, Ye SUN, Dr. Giles B. SIOEN. (2018). A Framing Approach Put into Practice: Reflections from GFE Kashiwa-no-ha. The 6th GPSS-GLI International Symposium “Framing to Action: Bringing Sustainability Thinking into Practice”.</li>
            <li>[Poster] Yulong WANG. (2018). Interaction between coastal water quality and livelihood in the context of urbanization: A case study in Northern Liaodong Bay. Progress Review of GPSS-GLI. (Poster Award: For a very significant contridution in the field of sustainability scicence.)</li>
            <li>[Poster] Eric DOMPREH, Kevin FLORENTIN, Robert ALFOSI, Vinamra MATHUR, Yulong WANG. (2018). Pathways through sustainability: An Analysis of Exclusivity, Culture and Awareness in Smart City. The 6th GPSS-GLI International Symposium “Framing to Action: Bringing Sustainability Thinking into Practice”.</li>
        <h6>2017</h6>
            <li>[Thesis] 王禹龍. "没水傾斜板による波浪制御に関する研究." 東京海洋大学修士学位論文. 2017.</li>
            <li>[Paper] Yulong WANG, Zichang SHANGGUAN, Wenjian DONG, Long QI. (2017). Wave Controlling Performance Analysis of Submerged Inclined Plate Breakwater. The Ocean Engineering, 35(6), 55-61. (Peer reviewed)</li>
            <li>[Paper] Dong, W. J., Shangguan, Z. C., Wang, Y. L., & Liu, D. N. (2017). Experimental Study on Wave Dissipation Coefficient for Semi-Submersible Permeable Tetrahedron. In Applied Mechanics and Materials (Vol. 864, pp. 357-362). Trans Tech Publications.</li>
        <h6>2016</h6>
            <li>[Paper] Yulong WANG, Zichang SHANGGUAN, Wenjian DONG, Qing QI. (2016). Structural Reliability of Fishing Chains at a Single Anchor in Fishing Port under Typhoon Calamity. Journal of Dalian Ocean University, 31(6), 692-695.(Peer reviewed)</li>
            <li>[Paper] Yulong WANG, Zichang SHANGGUAN, Wenjian DONG, Bin YU. (2016). Comparison Study onSeawall Structure based on Multilevel Fuzzy Comprehensive Evaluation. Journal of Dalian University, 37(3), 30-34.(Peer reviewed)</li>
        <h6>2015</h6>
            <li>[Paper] Yu T., Shangguan Z., Wang Y., Shen L. Liu Y., Zhang J.. (2015)."Study on the wave dissipation properties of the no bottom semi-circular wave dissipation block." 4th ICSMIM: 1020-1025.</li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

